.me{
	background: #000;
	width: 100%;
}
.me a{
	color: #fff;


}
.marca-agua{
position: absolute;
width: 10% 5%;
background-color: rgba(0,0,0,0.5);

}
.marca-agua2{
background-image: url(../img/logo-pequeño.png);
background-size: 10% 5%;
background-position: 10px 20px;

}
.chat{

	background: rgb(255,255,255); /* Old browsers */
/*background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(204,202,189,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.llamanos{
/*border-left: 1px solid #737171;*/

	background: rgb(255,255,255);

}
.llamar{
	background: rgb(255,255,255);
}

.imagen-logo{
	width: 180px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.banderas{
	width: 35px;
}
.llamada{
	width: 40px;
	padding-top: 13px;
	padding-left: 0px;
	padding-right: 0px;

}
.agrandar{
	padding-top: 3px;
	font-size: 130%;

}
.foto-cabecera{
	width: 110px;
	margin-top: 8px;
	left: 0px;
}
.cabecera-boton{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 110px;
}
.correo-cabecera{
	color: #DB691D;
	font-size: 18px;
	margin-bottom: 0px !important;
}
header{
	background: url(../img/header.jpg);
	height: 310px;
    position: relative;
    padding-top: 18%;
}
.trip{
	top: 0px;
	right: 10px;
	    color: #fff;
	background: rgb(0,0,0);
	padding: 2px 10px;
	cursor: pointer;
	border-bottom: 2px solid #fff;
}
.mail{
	background: rgba(163,90,32,0.9);
    width: 470px;
    position: absolute;
    bottom: 0;
    right: 10px;
    text-align: center;
    padding: 6px 0;
    color: #FFF;
    font-size: 14px;
    margin: 0;
}
.imagen{
	height: 50px;
}
.icono-portada{
	width: 85px;
	display: inline-block;
}
.bloque-iconos{
	margin-left: 150px;
}
h3{
	background-size: 150%;
	text-align: center;

}

.subtitulos{
	background: #ff5722;
	font: normal normal 18px quicksand;  /*fuente*/
	color:#ffffff;  /*color de la fuente*/

	text-align: left ; /*alineación del texto*/
	text-transform: uppercase; /*texto se transforma en mayúsculas*/
	padding: 2px;  /*tamaño del fondo*/
	border-radius: 15px 0px 15px 0px; /*forma la borde del fondo*/
	padding-left: 10px;
}
.subextra{
		background: #795548;
	font: normal normal 18px quicksand;  /*fuente*/
	color:#ffffff;  /*color de la fuente*/
	text-align: center; /*alineación del texto*/
	padding: 3px;  /*tamaño del fondo*/
	border-radius: 0px 15px 0px 15px; /*forma la borde del fondo*/
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: left;
	padding-left: 10px;
}
.full{
	padding-right: 2px;
    padding-left: 2px;
}
/*#listas{
	counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin: 0 0 0 2em;
}
*/
#listas li{
    position: relative;
    display: block;
/*    padding: .4em .4em .4em .8em; este es para las separaciones de las listas*/
    *padding: .4em;
    margin: .3em 0 .3em 0.5em;
    background: #f7f5e9;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}
#listas li:hover{
    background: #ffffff;
}   

#listas li:before{
	content: "";
    position: absolute; 
    left: -1.1em;
    top: 94%;
    margin-top: -1em;
    background: #76cccc;
    height: 0.7em;
    width: 0.7em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    transition:all .3s ease-in-out;
}
#listas2 li{
    position: relative;
    display: block;
/*    padding: .4em .4em .4em .8em; este es para las separaciones de las listas*/
    *padding: .4em;
    margin: .3em 0 .3em 0.5em;
    background: #f7f5e9;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}
#listas2 li:before{
	content: "";
    position: absolute; 
    left: -1.1em;
    top: 94%;
    margin-top: -1em;
    background: #76cccc;
    height: 0.6em;
    width: 0.6em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    transition:all .3s ease-in-out;
}

#listas li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#listas li:hover:after{
    left: -.5em;
    border-left-color: #76cccc;             
}
.orden{
	    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.comentarios{
	padding: 10px 10px 10px 10px;
	background-color: #D9C8C8;
	border-radius: 10px 10px 10px 0px; /*forma la borde del fondo*/

}
.autores{
	font-size: 15px;
	font-style: italic;
}
.fondo{
	background: #daf1a2;
}
.encima{
	background: #f7f5e9;
	padding-right: 0px;
    padding-left: 0px;
}
.main{
	
}

footer{
	background-image: url(../img/footer2.jpg);
	background-size: cover;
	padding-bottom: 50px;
}
.margin-top-footer{
	padding-top: 100px;
}
hr {border: 2px solid khaki; height: 2px; background-color: darkkhaki;
}
.footer-link:link{
	text-decoration: none;

}
.footer-link h5{
	font-size: 1.5em;
	color: #645454;
}
.centro{
	text-align: center;
}
.centrado{
	text-align: center;

}
.margin-8{
	padding-top: 10px;
	font-weight: bold;
}
.margin-2{
	margin-top: 10px;
	padding-top: 4px;
	padding-left: 0px;
	font-weight: bold;
	line-height: 13px;
	text-align: left;
	margin-bottom: 10px;
}
.espacio{
	margin-left: 10px;
}
.border-left{
	border-left: 2px solid #49b5c1;
	margin-bottom: 0px; 
	display: block;
}
.footer-titulo{
	font-size: 15px;
	color: #FFFFFF;
	
}
.quedarse{
	width: 100%;
}
.quedarse nav{
	width: 100%;
	max-width:1171px;
	overflow: hidden;
	/*position: fixed;*/
		z-index:1000;
}
.isStuck {
width: 100%;
position: fixed;
top:0px;
}
a.current {
background-color: #222;
}
.letra-negra{
	color: #000000;
}
.espacio-10px{
	margin-top: 10px;
}
.letra-blanca{
	color: #FFFFFF;
	font-size: 1.5em;
}
.letra-blanca i{
	margin-right: 5px;
}
.listas-blancas li a{
	color: #ffffff;
	
}
.listas-blancas{
	font-size: 1.5em;
}
.listas-blancas li{
	list-style: none;

}
.largo{
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	width: 150px;
}
.barra-chica{
	left: 60px;
    background-color: #7A827A;
    box-shadow: -5px 5px;
    border-radius: 8px 0px 0px 8px;
    float: left;
    position: fixed;
    min-height: 125px;
    margin-bottom: 10px;
    overflow: hidden;

    width: 80px;
    top: 150px;

}
.compartir{
	margin-left: 0px;
}
ul li{
	list-style: none;
}
.sin-margen{

	padding-left: 5px;
	padding-top: 5px;
}
.titulo-principal{
	color: #749536;

	font-size: 30px;
	margin-bottom: 10px;
}
.relleno-cabecera{
	padding-top: 135px;
}
#margen{
	padding-right: 0px;
	padding-left: 80px;
}
.paises{
	padding-left: 0px;
	padding-right: 0px;
	font-weight: bold;
	font-size: 20px;
	text-align:left;
}
#ajustar-derecha{
	margin-left: 0px;
	padding-left: 0px;

}
#ajustar-izquierda{
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 20px;
}
.noticias .titulo-noticia{
	font-size: 20px;
}
.noticias .fecha-noticia{
    font-size: 11px;
    color: #8d8d8d;
    text-align: right;
    margin-bottom: 2px;
}
.noticias-face{
	list-style: disc;
	text-align: center;
	padding-left: 260px; 
}
.compartir-noticia{
	list-style-type: none;
	list-style-image: none;
	margin: 0 4px;
	width: 110px;
}
.paquete-lateral{
	float:right;
	text-align: center;
	background: rgba(255, 255, 255, 0.68);
	padding: 0 5px;
}

.achicar-imagen{
	width: 400px;
	height: 100px;
}

.reservar{
	background: #e97b0f;
	font-size: 15px;
	padding: 7px 8px;
	display: block;
	width: 100px;
	text-align: center;
	margin: 3px auto;	
	border-radius: 4px 4px 4px 4px;
}
.imagen-parrafo{
	width: 700px;
	height: 400px;
}
.marcador{
	list-style: none;
}
#link-sin-borde{
	max-width: 100%;
}
.margenes{
	padding: 5px 10px !important;
}
.mensaje-alerta{
	background-color: #EDE8BE;
	color: #684545;
	background-image: url(../img/alert.png) ;
	background-repeat: no-repeat;
	
	padding: 10px 10px 10px 50px;
	border: 1px solid;
	border-color: #4ED340;
}
.tabla-precio{
	border:1px solid #2335A4 !important;
	border-collapse: collapse;
	color: #555;
	margin-bottom: 10px;
	border-spacing: 0;
}
thead th{
	text-align: center !important;
	background: #ff5722;
	color: #8bc34a;
	font-size: 90% !important;
	border:1px solid #ff9800 !important;
	padding: 2px 4px !important;
	border-collapse: collapse;
}
tbody td{
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #ff9800 !important;
	padding: 2px 4px !important;
	border-collapse: collapse;
	
	font-size: 100%;
}
table{
	width: 99%;
}
.pading-left{
	padding-left: 15px;
}
.imagen-paquetes{

	width: 500px;
	height: 200px;

}
.subtitulo-paquete{
	font-size: 1.5em;
	color: #70A66C;

}
.destinos-marco{
	padding: 5px 5px 5px 10px;
	border-radius: 0px 8px 8px 8px;
	border:3px double #ABB193;
	margin-bottom: 5px;

}
.destinos-marco h5{
	font-family: sans-serif;
	font-weight: medium;
	font-size: 20px;
	color: #70A66C;
}
.imagen-peru{
	width: 78%;
	margin-bottom: 5px;
}

.testimonio-caja{
	float: right;
	text-align: justify;
	margin: 5px 0px 5px 0px;
	padding: 15px;
		border-bottom: 1px solid #cdcaca;

}
.testimonio-caja h5{
	text-align: left;
	font: oblique bold 100% cursive;
	font-size: 10px;

}
.testimonio-caja p{

	font:  bold italic;

	line-height: 24px;
	color: #464936;
	letter-spacing: .2px;
	margin-bottom: .7em;

}
.testimonio-seleccionado{
	margin: 15px;
}
.testimonio-seleccionado:hover{
	transform: scale(1.0155);
	transition: 0.5s ease;
}
.sumilla{
	font-size: 10px;
	text-align: right;
	font: oblique bold 100% cursive;
}
.comentarios-testimonios{
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}
/*efecto pallarax*/
#cambio{
	
	height: 200px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}
/*aqui empieza el parallax*/
.parallax__group {
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease 0s;
    z-index:100;
    height:70%;
}
.parallax__layer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.parallax__layer--base {
    transform: translateZ(0px);
    z-index: 4;
}
.parallax__layer--back {
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    height:100%;
}
img.codepen_image {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -65%);
    width:90%;
}
#group1 {
    z-index: 3;
    height:70%;
}
/*otra prueba de pallarax*/
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.valign-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}