#ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>

# Activar RewriteEngine

RewriteEngine on

#RewriteCond %{HTTP_HOST} ^www.andesviagens.com$ [NC]

#RewriteRule ^(.*)$ http://andesviagens.com/$1 [L,R=301]

RewriteBase /prueba

RewriteCond %{SCRIPT_FILENAME} !-d

RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^paquetes-turistico/(.+)\/$ sidebar.php?title=$1

#RewriteRule ^packages\/$ packages.php

RewriteRule ^(.*).php$ $1.php [QSA]
RewriteCond %{THE_REQUEST} \ /(.+)\.html
RewriteRule ^ /%1.php [L,R=301]

</IfModule>